In [40]:
import pandas as pd
#log reader
df = pd.read_csv("./cached_datax/log.txt",sep='|',header=None)
df.columns = ["time", "type", "message"]
def parse(row):
    s = row["message"]
    s = s.split(":")[0].replace(")","").replace("(","")
    if s == "": return None
    return int(s)
    
df["frame"] = df.apply(parse, axis=1)
df = df.dropna()
df["frame"] = df["frame"].astype(int)
df["time"] = pd.to_datetime(df["time"])
df.head()

,time,type,message,frame
13,2018-07-24 02:04:09,INFO,(0):>running stage denoise,0
14,2018-07-24 02:04:09,INFO,(0):>estimated noise standard deviation of 0.0...,0
15,2018-07-24 02:04:23,INFO,(0):>running stage select_filtered_by_2d_lowba...,0
16,2018-07-24 02:04:23,INFO,(0):>running stage smoothing,0
17,2018-07-24 02:04:26,INFO,(0):>setting the clipped region adaptive thres...,0

In [54]:
import numpy as np
proc_time =df.groupby("frame").max().join(df.groupby("frame").min(), lsuffix="to")[["time", "timeto"]] 
proc_time["duration"] = (proc_time["timeto"] - proc_time["time"])/np.timedelta64(1, 's')
proc_time.head()

                     time              timeto  duration
frame
0     2018-07-24 02:04:09 2018-07-24 02:04:31      22.0
1     2018-07-24 02:04:41 2018-07-24 02:05:02      21.0
2     2018-07-24 02:05:13 2018-07-24 02:05:34      21.0
3     2018-07-24 02:05:44 2018-07-24 02:06:05      21.0
4     2018-07-24 02:06:16 2018-07-24 02:06:37      21.0

In [57]:
%matplotlib inline
proc_time.duration.mean()

49.561097256857856